body {
    margin: 10%;
}

h1 {
    display: inline-block;
}

a {
    color: #5200c6;
}

iframe {
    width: 80%;
    height: 500px;
    margin: 0 10%;
}

.week {
    display: flex;
    border-bottom: 2px solid #333;
    margin-bottom: 14px;
}

.q {
    display: inline-block;
    padding: 14px 14px 14px 28px;
    font-size: 14px;
    line-height: 18px;
    color: #333;
    font-family: sans-serif;
}

.a {
    font-size: 16px;
    color: #333;
    margin-bottom: 32px;
    line-height: 24px;
    font-family: sans-serif;
    margin-top: 24px;
}